@use 'btn';
@use 'post';

* {
    font-family: tahoma;
}

body {
    background: #26556a;
    color: white;
}

textarea {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    resize: none;
    padding: 0.5em;
    background: #81c3e1;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    border: 2px solid #000;
}

textarea::-webkit-scrollbar {
    display: none;
}

input {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    padding: 0.5em;
    background: #81c3e1;
    border: 1px solid #000;
    font-size: 14px;
}

.title {
    color: #4bc2d0;
}

.header {
    width: 100%;
}

.icon {
    height: 1em;
}

#content {
    height: 70%;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#content::-webkit-scrollbar {
    display: none;
}

#console {
    width: 80%;
    margin-left: 10%;
    min-height: 2em;
    max-height: 75%;
    overflow: auto;
    resize: none;
    border-radius: 16px;
    background-color: #000;
    border: 1px solid #000;
    color: #ffffff;
    padding: 8px;
    font-family: courier new;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #2b2b2b;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 16px;
    width: 80%; /* Could be more or less, depending on screen size */
}
