* {
    font-family: tahoma;
}

body {
    background: #26556a;
    color: white;
}

textarea {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    resize: none;
    padding: 0.5em;
    background: #81c3e1;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border: 2px solid #000;
}

textarea::-webkit-scrollbar {
    display: none;
}

input {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    padding: 0.5em;
    background: #81c3e1;
    border: 1px solid #000;
    font-size: 14px;
}

.btn {
    border-radius: 5px;
    background: #348790;
    padding: 0.5em;
    font-size: 14px;
    margin: 0.1em;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.btn:hover {
    background: #42a9b5;
    cursor: pointer;
}

.title {
    color: #4bc2d0;
}

.new-post {
    width: 50%;
    height: 5em;
    max-height: 10%;
    margin-left: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

#post-input {
    width: 70%;
    height: 100%;
    float: left;
    margin-right: 1em;
}

.header {
    width: 100%;
}

#content {
    height: 70%;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#content::-webkit-scrollbar {
    display: none;
}

.post {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #629bb5;
}
.post-author {
    display: inline-block;
    margin-bottom: 0.5em;
    background: #416a7d;
    padding: .25em;
    border-radius: 16px;
    letter-spacing: 0.05em;
}
.post-contents {
    margin: auto;
    width: 50%;
}

.icon {
    height: 1em;
}

#console {
    width: 80%;
    margin-left: 10%;
    min-height: 2em;
    max-height: 75%;
    overflow: auto;
    resize: none;
    border-radius: 16px;
    background-color: #000;
    border: 1px solid #000;
    color: #ffffff;
    padding: 8px;
    font-family: courier new;
}
